<%= render "navs/navbar" %>

<div class="clearfix"></div>
<div id="accounts-container">
  <div class="container" style="padding-top: 125px;">
    <h1>Contacts</h1>
    <table class="table table-inverse">
      <thead>
        <tr>
          <th>Title</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.Title %></td>
            <td><%= account.Email %></td>
            <td><%= account.Phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
